In [1]:
import numpy as np
import pandas as pd

In [30]:
sales = {'Tony': 103, 'Sally': 202, 'Randy': 380, 'Ellen': 101, 'Fred': 82}
df_sales = pd.DataFrame.from_dict(sales, orient='index', columns=['sales'])
region = {'Tony': 'West', 'Sally': 'South', 'Carl': 'West', 'Archie': 'North', 'Randy': 'East', 'Ellen': 'South', 'Fred': np.nan, 'Mo': 'East', 'HanWei': np.nan}
df_region = pd.DataFrame.from_dict(region, orient='index', columns=['region'])

In [32]:
df_sales.head(1)

      sales
Tony    103

In [33]:
df_region.head(1)

     region
Tony   West

In [23]:
df['col_a_binned'] = pd.cut(df.col_a, bins=5)
df.col_a_binned.value_counts()

(29.4, 38.2]     14
(11.8, 20.6]     12
(38.2, 47.0]      9
(2.956, 11.8]     8
(20.6, 29.4]      7
Name: col_a_binned, dtype: int64

In [26]:
pd.qcut(df.col_a, q=5).value_counts()

(20.6, 31.0]     11
(2.999, 13.6]    10
(13.6, 20.6]     10
(31.0, 37.0]     10
(37.0, 47.0]      9
Name: col_a, dtype: int64