In [1]:
# pip install SQLAlchemy==1.4.46
from pandasql import sqldf, load_meat, load_births

In [2]:
pysqldf = lambda q: sqldf(q, globals())

In [3]:
meat = load_meat()

In [4]:
print(pysqldf("SELECT * FROM meat LIMIT 10").head())

                         date   beef   veal    pork  lamb_and_mutton broilers  \
0  1944-01-01 00:00:00.000000  751.0   85.0  1280.0             89.0     None
1  1944-02-01 00:00:00.000000  713.0   77.0  1169.0             72.0     None
2  1944-03-01 00:00:00.000000  741.0   90.0  1128.0             75.0     None
3  1944-04-01 00:00:00.000000  650.0   89.0   978.0             66.0     None
4  1944-05-01 00:00:00.000000  681.0  106.0  1029.0             78.0     None

  other_chicken turkey
0          None   None
1          None   None
2          None   None
3          None   None
4          None   None